# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Code coverage profiles
coverage.*
*.coverprofile
profile.cov

# Test reports
test-results/
test-output.txt
integration-test-output.txt

# Octocov reports
.octocov/
docs/coverage.svg

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

/gh-merge-base-next
/gh-merge-base-next.exe

# temp
[Tt]emp/

# go.work paths
go-gh-extension

# Editor/IDE
# .idea/
.vscode/
testdata/
test-spec/
TEST_PLAN.md
